*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($black, 0);
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  color: $dark;
  font-family: $fontDefault;
  font-size: $fontSizeDefault;
  font-weight: 400;
  line-height: $lineHeight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}


h1,
h2,
h3,
h4,
h5 {
  color: $dark;
  font-family: $fontDefaultTitle;
  margin-top: 0;
  font-weight: bold;
}

h1 {
  font-size: 82px;
  line-height: .95;
}

h2 {
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 40px;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 14px;
}

h4 {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 12px;
}

h5 {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 12px;
}





/* form elements */

* {
  outline: none !important;
}

input,
select,
button,
textarea {
  font-family: $fontDefault;
}



/* link */

a {
  color: $orange;
  text-decoration: none;
}

a:hover {
  color: $light-orange;
  text-decoration: none;
}

a:focus,
a:active {
  color: $orange;
  text-decoration: none;
}




/* helper classes */

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.img-cover {
  object-fit: cover;
}




.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}



.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}







/* img responsive */

img {
  height: auto;
  max-width: 100%;
}





/* lazyload */

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}






/* sr-only */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}











.row {
  >[class*=col] {
    padding-left: 15px;
    padding-right: 15px;
  }
}












.page-article{
  .journal__container{
    padding-top: 54px;
  }

  .article__container{
    padding-top: 44px;
  }

  .article__info {
    margin-bottom: 32px;
  }

  @media (max-width:767px){
    .journal__container{
      padding-top: 38px;
    }

    .article__container{
      padding-top: 30px;
    }

    .article__info {
      margin-bottom: 18px;
    }

    .article__pict--main{
      margin-bottom: 18px;
    }
  }
}











.blockquote{
  background-color: #f7f7f7;
  margin: 2em auto;
  padding: 2em;
  font-weight: 700;
  border-radius: .5em;
}