.secret {
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        content: '';
        width: 618px;
        height: 618px;
        position: absolute;
        top: 38%;
        right: 53%;
        background: radial-gradient(35.55% 35.55% at 50% 50%, #FF8575 0%, rgba(255, 133, 117, 0) 100%);
        opacity: .5;
        pointer-events: none;
    }

    &::after {
        right: auto;
        left: 53%;
    }

    &__container {
        position: relative;
        padding-top: 33px;
        padding-bottom: 1px;
        z-index: 9;
    }

    &__title {
        margin-bottom: 35px;
    }

    &__inner {
        position: relative;

        &+& {
            margin-top: 44px;
        }
    }

    &__subtitle {
        margin-bottom: 18px;
    }

    &__pict {
        margin-bottom: 8px;
        margin-left: -15px;
    }

    &__img {
        max-height: 79.35px;
    }

    &__img--2 {
        max-height: 112.93px;
    }

    &__btn {
        margin-top: 7px;
    }

    @media (min-width: 576px) {
        &::before,
        &::after {
            right: 76%;
        }

        &::after {
            right: auto;
            left: 76%;
        }
    }
}