.surprise {

    &__container {
        padding-top: 28px;
    }

    &__pict {
        position: relative;
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-top: -22px;
        margin-bottom: 20px;
    }

    &__book {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    &__like {
        position: absolute;
        top: 52%;
        left: 61%;
        max-height: 60px;
    }

    &__diamond {
        position: absolute;
        top: 8%;
        right: 0;
        max-height: 107px;
    }

    &__list{
        margin-top: 25px;
    }

    &__list-item{
        margin-bottom: 22px;
    }

    &__list-icon {
        width: 48px;
        height: 48px;
        display: block;
    }

    &__list-text{
        margin-top: 6px;
    }

    &__author{
        position: relative;
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-top: 28px;
        margin-bottom: -3px;
    }

    &__education{
        position: absolute; top: 16.5%; left: 14%;
    }

    &__star{
        position: absolute; bottom: -3%; right: 8%;
    }

}