.words {
    position: relative;

    &__container {
        position: relative;
        z-index: 9;
        padding-top: 0;
        padding-bottom: 0;
    }

    &__decor {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
        width: 100%;
    }

    &__head {
        margin-bottom: 35px;
    }

    &__foot {
        position: relative;
    }

    &__pict--1 {
        position: relative;
        top: -20px;
        left: 5px;
    }

    &__pict--1 &__img {
        max-height: 132px;
    }

    &__pict--2 {
        position: absolute;
        top: -18px;
        right: 11.5%;
    }

    &__pict--2 &__img {
        max-height: 66px;
    }

    &__pict--3 {
        position: absolute;
        bottom: 18px;
        left: -20px;
    }

    &__pict--3 &__img {
        max-height: 82px;
    }


    &__badge {
        padding: 10px 16px;
        border: 2px solid rgba(255, 187, 228, 0.4);
        border-radius: 20px;
        display: inline-block;
        vertical-align: top;
        text-align: left;        
    }

    &__badge--1 {
        position: absolute;
        top: 35px;
        right: 20px;
        max-width: 50%;
        transform: rotate(-5deg);
    }

    &__badge--2 {
        max-width: 57%;
        width: 100%;
        transform: rotate(2.91deg);
        margin-top: -9px;
        margin-left: -10px;
        padding-right: 10px;
    }

    &__badge--3 {
        max-width: 43%;
        width: 100%;
        transform: rotate(-16deg);
        white-space: nowrap;
        margin-top: 21px;
        position: relative;
        left: 20px;
    }

    &__badge--4 {
        max-width: 63%;
        width: 100%;
        transform: rotate(7.26deg);
        white-space: nowrap;
        margin-top: 35px;
        margin-left: -10px;
    }

    &__badge--5 {
        max-width: 50%;
        width: 100%;
        margin-top: 30px;
        margin-right: -10px;
        transform: rotate(-5.54deg);
    }

    &__heart {
        position: absolute;
        bottom: 0%;
        left: 35%;
        transform: translateX(-50%);
    }

}