$fontDefault: 'Futura PT Book', 'Futura PT',  -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, sans-serif;
$fontSizeDefault: 18px;
$lineHeightDefault: 1.4;

$fontTitle: 'Futura PT Demi', sans-serif;

$white: #fff;
$black: #000;
$dark: #191B1D;
$gray: #828282;
$gray2: #E5E5E5;
$gray3: #E9E9E9;
$violet: #C99EC2;
$lightblue: #84BED6;
$lightblue2: #E5EFFD;
$orange: #EFCA97;

$graylight:#E2E2E2;
$blue: #736DE8;
$red: #FF6767;



$pathAssets: '../';