.desc{
    &__container{
        padding-top: 80px;
        padding-bottom: 50px;
    }

    &__item{
        margin-bottom: 50px;
    }

    &__img{
        width: 100%;
        margin-bottom: 20px;
    }

    &__img + &__caption{
        margin-top: 22px;
    }

    &__caption{
        margin-top: 5px;
        color: #25232A;
        opacity: .8;
    }

    &__subtitle{
        margin-bottom: 5px;
    }

    &__learn{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 55px;
    }

    &__learn-subtitle{
        max-width: 64%;
    }

    &__learn-item{
        max-width: 300px;
        padding-left: 30px;
    }

    &__learn-icon{
        color: #FFB233;
        width: 40px;
        height: 40px;
    }

    &__learn-caption{
        margin-top: 10px;
    }

    @media (max-width:767px){
        &__container{
            padding-top: 47px;
            padding-bottom: 22px;
        }

        &__item{
            margin-bottom: 40px;
        }

        &__img{
            margin-bottom: 14px;
        }

        &__img + &__caption{
            margin-top: 14px;
        }

        &__subtitle{
            line-height: 1.3;
            margin-bottom: 8px;
        }

        &__learn{
            margin-top: 6px;
            margin-bottom: 58px;
        }

        &__learn-subtitle{
            max-width: 100%;
            line-height: 1.45;
        }
    }
}