.title {
    font-size: 64px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-top: 0;
    margin-bottom: 25px;
    color: $dark;

    @media (max-width:767px) {
        &{
            font-size: 58px;
        }
    }

    @media (max-width:576px) {
        &{
            font-size: 52px;
            line-height: 1;
        }
    }
}