.lead {
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;

    &__text{
        position: relative;
    }

    &__selected {
        position: relative;
        display: inline-flex;

        &::before {
            content: '';
            position: absolute;
            top: 57%;
            left: 48%;
            width: calc(100% + 20px);
            height: 30px;
            background-color: #FFEDEB;
            border-radius: 100px;
            transform: translate(-50%, -50%);
        }
    }

    @media (max-width: 576px){
        &{
            font-size: 18px;
            line-height: 1.25;
        }
    }
}