.about {
    &__container {
        padding-top: 98px;
    }

    &__columns {
        display: flex;
        flex-direction: row-reverse;
        margin: 0 -15px;
    }

    &__column {
        max-width: 50%;
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }

    &__title {
        line-height: 1.1;
        margin-bottom: 38px;
    }

    &__list {
        padding-left: 0;
        list-style: none;
        margin: 0;
        color: #25232A;
        opacity: .9;
    }

    &__list-item {
        padding-left: 23px;
        position: relative;
        font-size: 20px;
        margin-bottom: 20px;

        &::before {
            content: '';
            position: absolute;
            top: 9px;
            left: 0;
            width: 6px;
            height: 6px;
            background-color: #9487FF;
            border-radius: 50%;
        }
    }

    &__pict {
        text-align: center;
        position: relative; left: 18px;
        margin-top: 17px;
    }

    &__name {
        font-size: 16px;
        padding: 9px 16px;
        position: absolute; top: 38px; left: -30px;
        display: inline-block;
        vertical-align: top;
        border: 2px solid rgba(255, 187, 228, 0.4);
        border-radius: 20px;
        transform: rotate(-16deg);
    }

    @media (max-width: 991px){
        &__name {
            top: -15px; left: -10px;
        }
    }

    @media (max-width: 767px){
        &__container {
            padding-top: 95px;
        }

        &__columns {
            display: block;
            margin: 0;
        }
    
        &__column {
            max-width: 100%;
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }

        &__pict {
            position: relative; left: 0;
            margin-top: 0;
            max-width: 355px;
            margin: 0 auto 35px auto;
        }

        &__name {
            top: -45px; left: 0px;
            max-width: 120px;
        }
    }

    @media (max-width:576px){
        &__container {
            padding-bottom: 13px;
        }

        &__pict {
            margin-bottom: 10px;
        }

        &__title {
            font-size: 38px;
            margin-bottom: 25px;
        }

        &__list-item {    
            &::before {
                top: 10px;
            }
        }
    }
}