.header {
  background: radial-gradient(109.26% 84.48% at 0.66% 95.51%, #8F81FF 0%, #FF9384 100%), linear-gradient(0deg, rgba(255, 100, 137, 0), rgba(255, 100, 137, 0)), #FF8575;
  position: relative;
  color: $white;
  overflow: hidden;
  z-index: 1;

  &__container {
    padding-top: 39px;
    padding-bottom: 39px;
    position: relative;
    z-index: 2;
    min-height: 679px;
  }

  &__logo {
    margin-bottom: 37px;
  }

  &__events {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  &__event {
    margin-right: 33px;
  }

  &__date {
    display: flex;
    align-items: center;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
  }

  &__date--mobile{
    display: none;
  }

  &__date-icon {
    margin-right: 10px;
  }

  &__title {
    font-size: 65px;
    line-height: .9;
    max-width: 80%;
    margin-bottom: 25px;
    color: $white;
    letter-spacing: -0.03em;
  }

  &__lead {
    max-width: 540px;
    margin-bottom: 52px;
  }

  &__btn {
    margin-bottom: 38px;
  }


  &__body,
  &__date,
  &__name {
    position: relative;
    z-index: 9;
  }

  &__women {
    position: absolute;
    top: 0;
    right: -115px;
    pointer-events: none;
    z-index: 1;
    max-width: 729px;
  }

  &__women--mob {
    display: none;
  }

  &__decor {
    position: absolute;
    top: 63%;
    left: 0;
    pointer-events: none;
    max-height: 190px;
  }

  &__decor--2 {
    left: auto;
    right: 0;
    top: 14%;
    max-height: 273px;
  }

  @media (max-width: 1200px) {
    &__title {
      max-width: 66%;
    }

    &__women {
      object-fit: cover;
      height: 100%;
      max-width: 650px;
    }

    &__lead {
      max-width: 500px;
    }
  }

  @media (max-width: 1024px) {

    &__women,
    &__decor {
      display: none;
    }

    &__women--mob {
      display: block;
      top: 15%;
      right: 0;
      max-width: 171px;
      max-width: 280px;
      height: auto;
    }

    &__decor--2 {
      display: block;
      left: auto;
      right: 20px;
      top: -44px;
      max-height: 180px;
      transform: rotate(-90deg);
    }

    &__title {
      max-width: 80%;
    }

    &__lead {
      max-width: 650px;
    }
  }

  @media (max-width: 800px) {  
    &__lead {
      max-width: 70%;
    }
  }

  @media (max-width: 767px) {  
    &__container {
      padding-top: 34px;
      padding-bottom: 52px;
      min-height: 600px;
    }

    &__logo {
      margin-bottom: 22px;
    }

    &__events {
      margin-bottom: 15px;
    }
  
    &__event {
      margin-right: 0;
    }

    &__title {
      margin-bottom: 17px;
    }

    &__lead{
      margin-bottom: 35px;
    }

    &__date {
      display: none;
    }
  
    &__date--mobile{      
      display: flex;
      margin-bottom: 15px;
    }

    &__women--mob {
      top: 15%;
      max-width: 171px;
    }

    &__btn {
      margin-bottom: 32px;
    }
  }

  @media (max-width: 576px) {  
    &__title {
      font-size: 38px;
      line-height: 1;
    }

    &__lead {
      max-width: 66%;
    }


  }

}