.btn {
  outline: none;
  position: relative;
  text-align: center;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.4;
  padding: 17px 20px;
  min-width: 142px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: $white;
  border: none;
  text-decoration: none;
  background-color: #9381FA;
  border-radius: 12px;
  will-change: opacity;
  transition: opacity .3s ease;

  &--between {
    justify-content: space-between;
  }

  &__icon {
    margin-left: 10px;
    fill: none;
  }

  &--danger {
    background-color: #FB7756;
  }

  &--w100 {
    width: 100%;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    text-decoration: none;
    opacity: .9;
  }

  &__text {
    display: flex;
    align-items: center;
  }

  &__text-icon {
    margin-right: 10px;
  }

  &--warning {
    color: #403A3A;
    background-color: #FFD686;

    &:hover,
    &:focus,
    &:active {
      color: #403A3A;
    }
  }

  @media (max-width: 576px) {
    & {
      max-width: 100%;
      width: 100%;
      font-size: 18px;
      padding: 17px 8px;
    }

    &__text-icon {
      margin-right: 6px;
    }
  }

}