.tags {
    &__title {
        margin-bottom: 16px;
    }    

    &__item {
        display: inline-block;
        vertical-align: top;
        color: $gray;
        padding: 10px 16px;
        border: 1.5px solid rgba(171, 175, 186, 0.2);
        border-radius: 12px;
        margin-right: 12px;
        margin-bottom: 12px;
        text-decoration: none;
        transition: .3s ease;

        &:hover,
        &:focus,
        &:active {
            color: $blue;
            border-color: $blue;
        }
    }

    @media (max-width: 991px){
        &__items {
            display: flex;
            white-space: nowrap;
            overflow-x: auto;
            padding-left: 15px;
            padding-right: 15px;
            width: calc(100% + 35px);
            margin-left: -17.5px;
            margin-right: -17.5px;
        }
    }
}