.after-before{
    margin: 70px auto 0 auto;
    max-width: 1170px;

    &__pict{
        margin-bottom: 25px;
    }

    &__img{
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    @media (max-width:767px){
        &{
            display: none;
        }
    }
}