.burns {
    color: $white;
    height: 701px;
    background: #4A2181 url(../img/burns/bg2.jpg) no-repeat center top;
    background-size: cover;

    &__container {
        padding-top: 0;
    }

    &__title {
        max-width: 760px;
        color: #3D2668;
        background-color: #FFE9D0;
        border-radius: 26px;        
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        transform: translateY(-50%);
        padding: 18px 15px;
    }

    &__pict{
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -15px;
    }

    &__img{
        display: block;
        width: 100%;
    }

    &__lead {
        max-width: 682px;
        margin: 42px auto 36px auto;
    }

    &__alert {
        color: $black;
        max-width: 760px;
        width: 100%;
        margin: 0 auto 0 auto;
        background: #FFE9D0;
        border-radius: 26px;
        position: relative;
        padding: 35px 40px;
        text-align: center;
    }

    &__alert-subtitle {
        margin: 0;
        color: #B50303;
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
    }

    @media (max-width:991px) {
        &{
            height: auto;
        }

        &__container {
            padding-bottom: 0;
        }
    }

    @media (max-width:767px) {
        &{
            margin-bottom: 162px;
        }

        &__title {
            margin-bottom: 17px;
        }

        &__alert {
            margin-top: 35px;
            padding: 15px 20px;
            margin-bottom: -178px;
        }

        &__pict{
            margin-top: -45px;
        }

        &__lead {
            max-width: 100%;
            padding: 10px 20px;
            margin: 42px auto 36px auto;
        }
    }
}










.food {
    max-width: 1087px;
    margin: 0 auto 117px auto;
    position: relative;
    z-index: 99;

    &__title{
        margin-bottom: 56px;
    }

    &__img {
        display: block;
        width: 100%;
        object-fit: cover;
    }

    @media (max-width:991px) {
        & {
            width: calc(100% + 30px);
            margin-left: -15px;
        }

        &__img {
            min-height: 270px;
        }
    }

    @media (max-width:767px) {
        &{
            margin-bottom: 95px;
        }
    }

    @media (max-width:576px) {
        &__title{
           font-size: 12vw;
           margin-bottom: 46px;
        }
    }
}