.diet {
    background-color: #FFE9D0;

    &,
    &__container {
        position: relative;
    }

    &__container {
        z-index: 9;
        padding-top: 55px;
    }

    &__title {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    &__box {
        max-width: 1100px;
        margin: 55px auto 5px auto;
    }

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $white;
        box-shadow: 0px 4px 68px rgba(0, 0, 0, 0.09);
        border-radius: 65px;
        min-height: 160px;
        padding: 20px 22px 20px 135px;
        position: relative;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 0 2px;
    }

    &__icon{
        max-width: 70px;
        position: absolute; top: 50%; left: 42px;
        transform: translateY(-50%);
    }

    &__b--mobile{
        display: none;
    }

    @media (max-width:767px){
        &__container {
            padding-top: 60px;
            padding-bottom: 1px;
        }

        &__title {
            font-size: 9vw;
        }

        &__box{
            margin-top: 35px;
        }

        &__block {
            width: calc(100% + 20px);
            margin-left: -10px;
            border-radius: 65px;
            padding: 20px 22px 20px 130px;
            margin-bottom: 18px;
        }

        &__icon{
            max-width: 94px;
            left: 15px;
        }

        &__btn-container{
            margin-bottom: -40px;
        }

        &__b{
            display: none;
        }

        &__b--mobile{
            display: block;
        }
    }
}