.pro-contra {
    min-height: 1123px;
    background: #EFEFEF url(../img/pro-contra/bg2.png) no-repeat center top;

    &__container {
        padding-top: 95px;
    }

    &__title {
        max-width: 777px;
        margin-left: auto;
        margin-right: auto;
        color: #3D2668;
        margin-bottom: 83px;
        font-size: 48px;
    }

    &__inner {
        max-width: 530px;
        margin-left: 48%;
    }

    &__list {
        text-transform: uppercase;
        padding-left: 0;
        margin: 0;
        list-style: none;
    }

    &__list-item {
        position: relative;
        padding-left: 48px;
        margin-bottom: 45px;

        &::before {
            content: '';
            position: absolute;
            top: -3px;
            left: 0;
            width: 30px;
            height: 30px;
            border: 6px solid #B50303;
            border-radius: 50%;
        }
    }

    
    @media (max-width: 1200px) {
        &__inner {
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media (max-width: 767px) {
        &{
            background: #fff;
        }

        &__container {
            padding-top: 42px;
            padding-bottom: 90px;
        }

        &__title {
            margin-bottom: 62px;
            font-size: 43px;
        }

        &__list-item {    
            &::before {
                top: -6px;
                width: 36px;
                border-radius: 50% 50% 0 50%;
            }
        }
    }

    @media (max-width: 576px) {
        &__title {
            font-size: 11vw;
        }
    }

}