.social {
    &__links {
        display: flex;
    }

    &__link {
        display: block;
        margin-top: 3px;
        margin-right: 10px;
        transition: opacity .3s ease;

        &:hover,
        &:focus,
        &:active {
            opacity: .8;
        }
    }
}