.title {
    text-align: center;
    font-size: 50px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 38px;
    font-family: $fontTitle;
    color: $black;

    @media (max-width:1024px) {
        & {
            font-size: 44px;
        }
    }

    @media (max-width:767px) {
        & {
            font-size: 36px;
            margin-bottom: 32px;
        }
    }

    @media (max-width:576px) {
        & {
            text-align: left;
            font-size: 8vw;
        }
    }
}