@mixin centeredTranslate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centeredVerticalFlex {
    display: flex;
    align-items: center;
}

@mixin centeredFlex {
    @include centeredVerticalFlex();
    justify-content: center;
}