.btn {
  outline: none;
  text-align: left;
  position: relative;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1.5;
  padding: 18px 22px;
  min-width: 300px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  color: $white;
  border: none;
  text-decoration: none;
  background-color: #2F64EF;
  border-radius: 6px;
  will-change: opacity;
  transition: opacity .3s ease;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    text-decoration: none;
    opacity: .9;
  }

  &--gray {
    color: #2F64EF;
    background: rgba(47, 100, 239, 0.08);

    &:hover,
    &:focus,
    &:active {
      color: #2F64EF;
      background: rgba(47, 100, 239, 0.08);
      opacity: .8;
    }
  }

  @media (max-width: 767px) {
    & {
      font-size: 16px;
    }
  }

  @media (max-width:576px) {
    & {
      width: 100%;
      min-width: 200px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}