.logo {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  text-decoration: none;
  transition: opacity .3s ease;

  &__icon{
    margin-right: 20px;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    opacity: .8;
  }

  @media (max-width:576px){
    &__icon{
      max-width: 30px;
      max-height: 30px;
      margin-right: 0;
    }
  }
}