.modal {
    display: none;
    padding: 40px 40px 50px;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;

    .program__list {
        margin-top: 22px;
        margin-top: 24px;
        padding-left: 0;
    }

    @media (max-width: 576px){
        &{
            padding: 22px 20px 35px;
        }
    }
}

.fancybox-slide--html .fancybox-close-small {
    top: 40px;
    right: 40px;
    padding: 1px;
    border: 2px solid #8A8E95;
    border-radius: 50%;
    width: 24px;
    height: 24px;

    @media (max-width: 576px){
        &{
            top: 24px;
            right: 15px;
        }
    }
}