.btn-container {
  max-width: 720px;
  margin: 30px auto;
  position: relative;

  .btn {

    &,
    &__inner {
      width: 100%;
    }
  }
}

.btn {
  padding: 0;
  border: none;
  position: relative;
  text-align: center;
  pointer-events: none;
  display: inline-block;
  vertical-align: top;

  &__caption {
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin-top: 16px;
  }

  &__inner {
    cursor: not-allowed;
    position: relative;
    z-index: 9;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 39px;
    line-height: 1.2;
    font-family: Montserrat, sans-serif;
    padding: 32px 30px 34px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $white;
    border: none;
    text-decoration: none;
    transition: all .3s ease;
    background: linear-gradient(to bottom, rgba(235, 235, 232, 0.4) 0%, rgba(235, 235, 232, 1) 2%, rgba(235, 234, 233, 1) 12%, rgba(229, 228, 227, 1) 17%, rgba(217, 217, 216, 1) 23%, rgba(163, 163, 163, 1) 45%, rgba(151, 151, 151, 1) 53%, rgba(150, 150, 150, 1) 98%, rgba(150, 150, 150, 0.4) 100%);
    overflow: hidden;
    box-shadow: 0px 18px 30px rgba(74, 33, 153, 0.5);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 220px;
      background: linear-gradient(to right, rgba($white, 0) 0%, rgba($white, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
      transform: translateX(100%);
      animation: shine 3s infinite 3s;
    }

    &:hover::after,
    &:focus::after,
    &:active::after {
      animation-play-state: paused;
    }

    &:hover,
    &:focus,
    &:active {
      color: rgba($white, .631);
      background: linear-gradient(to bottom, rgba(235, 235, 232, 0.4) 0%, rgba(235, 235, 232, 1) 2%, rgba(235, 234, 233, 1) 12%, rgba(229, 228, 227, 1) 17%, rgba(217, 217, 216, 1) 23%, rgba(163, 163, 163, 1) 45%, rgba(151, 151, 151, 1) 53%, rgba(150, 150, 150, 1) 98%, rgba(150, 150, 150, 0.4) 100%);
    }
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }



  &--active {
    transition: opacity .3s ease;

    .btn__inner {
      color: $white;
      background: linear-gradient(180deg, #B50303 19.79%, #D32929 100%);
      pointer-events: auto;

      &:hover,
      &:focus,
      &:active {
        opacity: .9;
        background: linear-gradient(180deg, #B50303 19.79%, #D32929 100%);
      }
    }
  }

  @media (max-width: 1200px) {
    &--active {
      .btn__inner {
        font-size: 30px;
        padding: .6em 1em .5em;
      }
    }
  }

  @media (max-width: 767px) {
    &--active {
      .btn__inner {
        font-size: 30px;
        padding: .7em 1em .6em;
      }
    }
  }

  @media (max-width: 576px) {
    &--active {
      width: 100% !important;

      .btn__inner {
        min-height: 77px;
        padding: .4em 10px .35em;
        font-size: 6.4vw;
        line-height: 1;
      }
    }

    &__caption {
      font-size: 24px;
      margin-top: 14px;
    }
  }
}

@keyframes shine {

  0%,
  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}