.video {
    padding-bottom: 56.25%;
    overflow: hidden;
    width: 100%;
    height: 0;
    position: relative;

    &__iframe,
    &__poster {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__iframe{
        background-color: $black;
        border: none;
    }

    &__poster,
    &__play-btn {
        cursor: pointer;
    }

    &__play-btn {
        border: none;
        outline: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 107px;
        height: 107px;
        background-color: #000;
        border-radius: 50%;
        z-index: 1; 
        pointer-events: none;       

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7.5px 0 7.5px 15px;
            border-color: transparent transparent transparent $white;
        }
    }
}