.faq{
    border-bottom: 2px solid rgba(46, 50, 56, .1);

    &__container{
        padding-top: 38px;
    }

    &__title{
        margin-bottom: 37px;
    }

    @media (max-width: 767px) {
        &{
            border-width: 1px;
        }

        &__container{
            padding-bottom: 38px;
        }
        
        &__title{
            margin-bottom: 24px;
        }
    }
}