.packages {
    &__container {
        padding-bottom: 62px;
        padding-top: 62px;
    }

    &__title {
        margin-bottom: 54px;
    }

    &__box {
        background-color: $white;
        box-shadow: 0px 60px 120px rgba(0, 32, 81, 0.1);
        border-radius: 8px;
    }

    &__columns {
        display: flex;
    }

    &__column {
        max-width: 50%;
        width: 50%;
    }

    &__column+&__column {
        border-left: 1px solid rgba($black, .1);
    }

    @media (max-width: 1100px){
        &__box {
            background-color: transparent;
            box-shadow: none;
            border-radius: 0;
        }

        &__columns {
            flex-wrap: wrap;
        }
        &__column {
            max-width: 100%;
            width: 100%;
        }

        &__column+&__column {
            border-left: none;
            margin-top: 60px;
        }
    }

    @media (max-width: 767px){
        &__title {
            margin-bottom: 20px;
        }
    }
}





.package {
    padding: 50px 40px 65px;
    font-size: 18px;

    &__head {
        margin-bottom: 32px;
    }

    &__name {
        padding-left: 26px;
        position: relative;
        font-weight: 500;
        font-size: 32px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #2E3238;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 16px;
            height: 16px;
            background: radial-gradient(100% 100% at 0% 0%, #B7C0C4 0%, #E4ECEF 100%);
            margin-top: -8px;
            border-radius: 50%;
        }
    }

    &__name--gold{
        &::before {
            background: radial-gradient(100% 100% at 0% 0%, #FFBC11 0%, #FFF6A6 100%);
        }
    }

    &__body {
        margin-bottom: 36px;
    }

    &__list {
        padding-left: 0;
        margin: 0;
        list-style: none;
        line-height: 1.65;
    }

    &__list-item {
        padding-left: 28px;
        position: relative;
        margin-bottom: 21.5px;
    }

    &__list-item--disabled {
        color: #BCBFC3;
        cursor: not-allowed;
    }

    &__list-icon {
        max-width: 18px;
        max-height: 23px;
        position: absolute;
        top: -1px;
        left: 0;
    }

    &__price {
        color: #797E86;
        margin-bottom: 25px;
    }

    &__price-now {
        font-weight: bold;
        font-size: 32px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #2E3238;
    }

    &__btn{
        width: 100%;
    }

    &__btn + &__btn{
        margin-top: 25px;
    }

    @media (max-width: 1200px){
        &{
            font-size: 16px;

        }
    }

    @media (max-width: 1100px){
        &{
            background-color: $white;
            box-shadow: 0px 60px 120px rgba(0, 32, 81, 0.1);
            border-radius: 8px;
        }
    }

    @media (max-width: 767px){
        &{
            padding: 28px 20px 43px;
        }

        &__name {
            padding-left: 20px;
            font-size: 24px;
    
            &::before {
                width: 8px;
                height: 8px;
                margin-top: -4px;
            }
        }

        &__head {
            padding-left: 8px;
            margin-bottom: 20px;
        }

        &__list-item {
            margin-bottom: 15px;
        }

        &__price {
            margin-bottom: 20px;
        }
    
        &__price-now {
            font-size: 24px;
        }

        &__btn + &__btn{
            margin-top: 15px;
        }
    }
}








.price-up {
    padding: 20px;
    border: 1px solid rgba(121, 126, 134, .3);
    border-radius: 6px;
    margin-bottom: 25px;

    &__item {
        display: flex;
        color: #797E86;
        position: relative;
        padding-bottom: 17px;

        &:last-child {
            padding-bottom: 0;
        }
    }

    &__item+&__item {
        border-top: 1px dashed rgba(121, 126, 134, 0.3);
        padding-top: 17px;
    }

    &__item--active {
        color: #2E3238;

        &::before {
            content: '';
            position: absolute;
            top: 8px;
            right: 0;
            width: 10px;
            height: 10px;
            background: radial-gradient(100% 100% at 0% 0%, #B7C4BA 0%, #00DF24 100%);
            border-radius: 50%;
        }
    }

    &__num {
        font-weight: 700;
        letter-spacing: .05em;
    }

    &__d {
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 500;
        font-size: 16px;
    }

    @media (max-width: 767px){
        &__item {
            flex-direction: column;
            padding-bottom: 17px;
        }

        &__d {
            display: none;
        }

        &__item--active {    
            &::before {
                top: 4px;
            }
        }
    }
}