.program {
    &__container {
        padding-top: 80px;
        padding-bottom: 1px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__module {
        padding-bottom: 35px;
    }

    &__module+&__module {
        border-top: 2px solid rgba(46, 50, 56, .1);
        padding-top: 57px;
    }

    &__head {
        margin-bottom: 25px;
    }

    &__num {
        font-weight: bold;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #797E86;
    }

    &__name {
        font-weight: 500;
        font-size: 32px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #2E3238;
        margin-top: 2px;
    }

    &__columns {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }

    &__column {
        max-width: 33.3333%;
        width: 33.3333%;
        padding-left: 15px;
        padding-right: 15px;
    }

    &__item-head {
        display: inline-flex;
        align-items: center;
        color: #2F64EF;
        font-weight: bold;
        font-size: 18px;
        line-height: 1.5;
        padding: 7px 10px 3px;
        white-space: nowrap;
        border: 1px solid rgba(47, 100, 239, 0.2);
        border-radius: 8px;
        margin-bottom: 15px;
        position: relative;
    }

    &__item-icon {
        width: 18px;
        height: 18px;
        margin-right: 10px;
        position: relative;
        top: -2px;
        left: -2px;
    }

    &__item-body {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.65;
    }

    &__item-text {
        margin-bottom: 25px;
        color: #2E3238;
        min-height: 52px;
    }

    &__list {
        margin: 0;
        list-style: none;
        padding-left: 0;
        color: #797E86;
    }

    &__list-item {
        margin-bottom: 14px;
    }

    &__list-time {
        letter-spacing: -.04em;
        font-family: 'Roboto Mono', monospace;
    }

    &__list-d {
        color: #797E86;
        opacity: .5;
        padding-left: 15px;
        padding-right: 15px;
    }

    &__item-chevron {
        display: none;
        transition: transform .3s ease;
    }

    @media (max-width:991px) {
        &__column {
            max-width: 50%;
            width: 50%;
        }
    }

    @media (max-width:767px) {
        &__container {
            padding-top: 48px;
            padding-bottom: 1px;
        }

        &__title {
            margin-bottom: 32px;
        }

        &__head {
            margin-bottom: 20px;
        }

        &__num {
            font-size: 14px;
        }

        &__name {
            font-size: 24px;
            margin-top: 2px;
        }

        &__item-body {
            font-size: 14px;
        }

        &__column {
            max-width: 100%;
            width: 100%;
        }

        &__item-head {
            width: 100%;
            font-size: 16px;
            padding: 9px 10px 5px;
            cursor: pointer;
            margin-bottom: 0;
        }

        &__item-icon {
            margin-right: 5px;
        }

        &__item-chevron {
            width: 24px;
            height: 24px;
            color: #2F64EF;
            display: block;
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
        }

        &__item-text {
            margin-bottom: 13px;
            margin-top: 13px;
            min-height: 1px;
        }

        &__list {
            margin-bottom: 0;
        }

        &__list-item{
            &:last-child{
                margin-bottom: 10px;
            }
        }

        &__list-d {
            padding-left: 10px;
            padding-right: 10px;
        }

        &__column &__item {
            margin-bottom: 20px;
        }

        &__column:last-child &__item,
        &__column:last-child &__list {
            margin-bottom: 0;
        }

        &__module {
            padding-bottom: 35px;
        }

        &__module+&__module {
            padding-top: 35px;
        }

        &__item-body {
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
        }

        &__control:checked~&__item-head {
            color: #2E3238;
        }

        &__control:checked~&__item-head &__item-chevron{
            color: #B7BABE;
            transform: translateY(-50%) rotate(-180deg);
        }

        &__control:checked~&__item-body {
            max-height: 1000px;
            transition: max-height 1s ease-in-out;
        }
    }

}